.detailContainer {
  display: flex;
  align-items: center;
}

.detailInfo {
  width: 50%;
  padding: 20px;
  color: yellow;
  font-family: 'Courier New', Courier, monospace;
}

.detailImage {
  width: 100%;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailImage img {
  width: 500px;
  height: auto;
  border-radius: 440px;
  border: 20px solid yellow;
}
